.container_modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.container_modal .modal {
  width: 500px;
  min-height: 100px;
  background: #1766dc;
  position: relative;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
}
.container_modal .encabezado_modal {
  display: flex;
  margin-bottom: 16px;
  border-bottom: 1px solid #e8e8e8;
}
.container_modal .encabezado_modal h3 {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: rgba(20, 17, 20, 0.966);
}
.container_modal .button_close_modal {
  position: absolute;
  top: 15px;
  right: 20px;
  width: 30px;
  height: 30px;
  border: none;
  background: none;
  cursor: pointer;
  transition: 0.3s ease all;
  border-radius: 5px;
  color: #1766dc;
}
/* .container_modal .button_close_modal:hover {
    background: #f2f2f2;
  } */
/* .container_modal svg {
    color: white;
    width: 100%;
    height: 100%;
  } */
.containerSuccesfullModal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}
.containerSuccesfullModal img {
  border-radius: 50%;
  height: 80px;
  width: 80px;
}
.container_modal .modal_text_verificated {
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-shadow: -1px 0 #090, 1px 0 #090, 0 1px #090, 0 -1px #090;
  color: #fff;
}
.button_accepted {
  text-decoration: none;
  padding: 8px;
  width: 120px;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  background-color: #1883ba;
  border-radius: 6px;
  border: 2px solid #0016b0;
  cursor: pointer;
  margin: auto;
  display: flex;
  justify-content: center;
}
.button_accepted:hover {
  color: #1883ba;
  background-color: #ffffff;
}
.container_delete_modal {
  display: flex;
}
.text_container_delete_modal {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 60px;
  margin: 0 auto 16px auto;
}

.container_img_delete_activity {
  display: flex;
  justify-content: space-between;
}
/* .container_img_delete_activity img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  } */
