.containerGamerCard {
  width: 240px;
  height: 210px;
  margin: auto;
  box-shadow: 5px 1px 5px 4px rgb(0, 0, 0);
  position: relative;
  text-align: center;
  margin-bottom: 28px;
}
.containerGamerCard:hover {
  transition: 0.3s;
  transform: scale(1.05);
  box-shadow: 1px 1px 10px rgb(153, 239, 40);
}
.containerGamerCardCategory {
  width: 100%;
  height: 220px;
  margin: auto;
}
.containerGamerCardCategory img {
  width: 100%;
  height: 180px;
  cursor: pointer;
}
.containerGamerCardCategory img:hover {
  filter: brightness(40%);
}
.containerImgCard {
  position: relative;
  display: flex;
  justify-items: center;
  align-items: center;
  text-align: center;
}
.containerImgCard:hover > .title {
  font-size: 15px;
}
.containerGamerCard img {
  width: 100%;
  height: 180px;
  cursor: pointer;
}
.title {
  transition: 0.2s;
  position: absolute;
  align-self: center;
  font-size: 0;
  color: antiquewhite;
  width: 100%;
  justify-self: center;
}
.containerGamerCard img:hover {
  transition: 0.2s;
  filter: brightness(30%);
}
.available_text {
  color: white;
  padding: 4px 4px 6px 4px;
  background: rgb(51, 146, 51);
  font-size: 12px;
  cursor: pointer;
}
.mostSold_text {
  color: white;
  align-self: center;
}
.mostSold_text_discount{
  color: grey;
  align-self: center;
  text-decoration: line-through;
  font-size: 8px;
}
.container_addCarts {
  padding: 0;
  display: flex;
  justify-content: space-between;
  background-image: radial-gradient(
    circle at 50% 50%,
    #28421bbb 0,
    #2f4931dc 25%,
    #2a7e1365 50%,
    #167c36a0 75%,
    #125623 100%
  );
  box-shadow: 0 0 7px 0px #000;
  padding: 2px;
  padding-right: 6px;
}
@media (max-width: 550px) {
  .containerGamerCard {
    width: 160px;
    height: 150px;
    margin: auto;
  }
  .containerGamerCard img {
    width: 100%;
    height: 106px;
  }
  .mostSold_text {
    font-size: 10px;
  }
}
