.titleFilters {
  font-family: "Motiva Sans", Sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  margin: 0 0 10px;
  letter-spacing: 0.03em;
  font-weight: normal;
  padding-top: 2px;
  padding-left: 16px;
}

.containerFilters {
  max-width: 1100px;
  margin: auto;
}
.containerTitleFilters {
  max-width: 1130px;
  margin: auto;
}
.containerTitleFiltersCombination {
  margin-top: 40px;
}
@media (max-width: 1250px) {
  .containerTitleFilters {
    max-width: 836px;
    margin: auto;
  }
  .titleFilters {
    padding-left: 46px;
  }
  .containerTitleFiltersCombination {
    margin-top: 80px;
  }
  .titleFiltersCombination {
    padding: 0;
  }
  .containerTitleFiltersCombination {
    margin-top: 36px;
  }
  .containerFilters span {
    margin-left: 20px;
  }
}
@media (max-width: 550px) {
  .titleFilters {
    font-size: 16px;
    display: block;
    text-align: center;
    padding-left: 0;
  }
  .containerFilters span {
    margin-left: 0;
  }
  .containerTitleFiltersCombination {
    margin-top: 20px;
  }
  .titleFilters {
    font-size: 12px;
    margin: 0;
  }
}
