.homeAdmin{
    display: flex;

    .homeContainerAdmin{
       
        flex:6;

        .widgets, .charts{ 
          display: flex;
          padding: 60px;
          gap: 20px;
        }

        .charts{
          padding: 5px 20px;
          
        }
    }
}

@media screen and (max-width: 768px) {
  .homeAdmin{
    flex-direction: column;
    .Nav-bar-admin{
      display: none;
    }
    .homeContainerAdmin{
      flex: 1;
      .widgets, .charts{ 
        flex-direction: column;
        gap: 0px;
      }
    }
  }

}
