.bodys {
  background-color: aliceblue;
  min-height: 95vh;
}
.containerImageDetailGameAdmin img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 8px;
  box-shadow: 0 0 7px 0px #000;
}
.mainDetailGameAdmin {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 24px;
  margin-top: 50px;
}
.sectionInformationGame {
  border: 1px solid rgba(173, 171, 171, 0.457);
  width: 400px;
  height: 224px;
  padding: 8px 16px;
  margin: 8px;
  box-shadow: 0 0 1px 0px #000;
}
.textInformationDetailGame {
  font-size: 18px;
  border-bottom: 1px solid rgba(173, 171, 171, 0.292);
}
.flexContainerInformationGame {
  margin-top: 12px;
  display: flex;
}
.mainDetailGameAdmin span {
  display: block;
}
.buttonEditInformationGame {
  display: block;
  margin-left: auto;
  border: none;
  width: 50px;
  border-radius: 2px;
  background: rgb(215, 214, 214);
}
.containerSpanInformationGame {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.containerSpanInformationGame h4 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.containerSpanInformationGame span {
  font-size: 14px;
}
.textYearsGameDetailAdmin {
  justify-self: end;
  margin-left: auto;
  margin-top: 8px;
  font-size: 4px;
}
.containerEstatistics {
  display: flex;
  width: 50%;
  height: 220px;
  margin-top: 8px;
}

/* table orders */
.mainGamesAllDashboard {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.331);
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
}
.tableGames {
  width: 100%;
  font-size: 14px;
}
.tableGames td,
.tableGames th {
  border: 1px solid rgba(0, 0, 0, 0.21);
}
.columnRatingGame,
.columnPriceGame,
.columnStatusGame {
  text-align: center;
}
.columnStatusGame {
  color: green;
}
.tableGames th {
  padding: 0 8px;
  text-align: center;
}

.tableColumns td {
  padding: 4px;
}
.tableGames img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.columnNameGame {
  width: 300px;
  overflow: hidden;
  padding: 0 8px;
}
.columnNameGame span {
  padding-left: 6px;
}
.columnActionGame div {
  margin: auto;
  display: flex;
  justify-content: center;
}

.columnActionView,
.columnActionDelete {
  text-align: center;
  border: 1px solid rgba(93, 87, 87, 0.498);
  margin-left: 16px;
  cursor: pointer;
  padding: 4px;
  border-radius: 4px;
}
.columnActionView {
  color: rgb(20, 11, 153);
}
.columnActionDelete {
  color: rgb(209, 1, 1);
}
.isBanned {
	text-align: center;
	color: red;
}