.container_buttonNextPrev_flex {
	display: flex;
	margin: auto;
	justify-content: center;
}
.carousel_recommended .imageCaoruselRecommendMain {
	width: 700px;
	height: 400px;
	border-radius: 4px;
}
.price_mobile {
	font-size: 10px;
}
.title_game_mobile {
	line-height: unset;
	font-size: 18px;
	font-weight: 600;
	padding: 6px;
}
.container_mobile_description {
	display: none;
}

.button {
	color: rgb(255, 255, 255);
	cursor: pointer;
	text-decoration: none;
	border-radius: 20%;
	height: 80px;
	width: 40px;
	font-weight: 1000;
	box-shadow: 3px 1px 5px 1px rgb(0, 0, 0);
	background-image: linear-gradient(to left, #000000e0, #b6c625);
	margin: auto 0 auto 16px;
}
.button_right {
	margin-right: 16px;
	margin-left: 0;
}
.button_page_navigation {
	width: 30px;
	height: 10px;
	background-color: hsla(202, 60%, 100%, 0.4);
	border: none;
}

/* warning */
.carousel_recommended span {
	/* display: block; */
	color: white;
	/* margin-left: 8px; */
	margin-bottom: 8px;
}
.carousel_recommended .available_text {
	font-size: 24px;
}
.carousel_recommended .mostSold_text {
	max-width: 120px;
	margin-bottom: 32px;
	margin-top: 16px;
	display: inline-block;
	line-height: 19px;
	padding: 0 7px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 2px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 11px;
}
.addCarsCarousel {
	position: absolute;
	bottom: 0;
	left: 0;
	margin-left: 8px;
	padding: 4px;
	background: rgb(51, 146, 51);
	border-radius: 2px;
}
.discountDiv {
	position: absolute;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	margin-right: 30px;
	margin-bottom: 15px;
}
.text_price {
	font-size: 1.5em;
}
.text_price_discount {
	font-size: 0.9em;
	text-decoration: line-through;
	color: gray !important;
	padding-bottom: 5px;
	justify-self: flex-end;
	align-self: flex-end;
}
.carousel_recommended h3 {
	text-align: center;
	color: white;
}

.container_preview_image_recommended li {
	list-style: none;
}
.container_preview_image_recommended img {
	width: 200px;
	height: 100px;
}
.active {
	user-select: none;
	cursor: pointer;
	backdrop-filter: blur(4px);
	cursor: pointer;
	text-decoration: none;
	box-shadow: 1px 1px 10px rgb(255, 251, 15);
}

.inactivo {
	display: flex;
	justify-content: center;
}
.inactivo button {
	margin: 0 8px;
}
.text_price {
	align-self: center;
}
/* container para category */
.imageCarouselMainCategory {
	width: 450px;
	height: 336px;
}
.containerDescriptionCategory {
	padding: 8px 0 0 8px;
	width: 100%;
}
.containerDescriptionCategory h2 {
	font-size: 30px;
	line-height: 34px;
	text-shadow: none;
	font-weight: 600;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	padding-left: 8px;
	overflow: hidden;
	color: white;
}
.container_description {
	width: 100%;
	overflow: hidden;
	padding: 4px 8px;
	position: relative;
}
.container_description h3 {
	text-align: center;
	font-size: 20px;
	margin-top: 12px;
	line-height: 30px;
	text-shadow: black 0.1em 0.1em 0.2em;
}
.containerTags {
	padding: 0 5px;
	word-break: break-all;
}

.tagsVideoGame {
	border: 1px solid white;
	border-radius: 1px;
	margin: 0 4px 0 0;
	padding: 3px;
	height: 16px;
	text-align: center;
	font-size: 10px;
	animation-name: cambioRGB;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}
.container_description i {
	text-shadow: 2px 2px 12px rgb(15 151 255);
	animation-name: cambioRGBStars;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	margin: 0 4px;
}
.activeStart {
	color: yellow;
}
.visitedWeb {
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 14px;
}
.visitedWebUrl {
	text-decoration: none;
	padding-left: 6px;
}
.containerStars {
	margin: auto;
	display: flex;
	justify-content: center;
}
.developVideoGames {
	display: block;
	font-size: 13px;
	margin-top: 12px;
}
.developLanzamiento {
	font-size: 13px;
}
/* STYLES SLIDER AUTOMATICO */
.flex_container_imageRecommended {
	display: flex;
	/* background: linear-gradient(90deg, #000000 0%, #398e40 100%); */
	background-image: url('https://wallpaper.dog/large/10698338.jpg');
	/* background-image: url("https://store.cloudflare.steamstatic.com/public/images/v6/home/background_maincap_2.jpg"); */
	background-size: cover;
	border-radius: 4px;
	margin: 16px;
	width: 1200px;
	word-wrap: word-break;
	box-shadow: 0 0 7px 0px #000;
	animation-name: cambioRGBFondo;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}
/* skeleton */
.flex_container_imageRecommended_skeleton {
	background-color: gray;
	border-radius: 4px;
	margin: 16px;
	height: 400px;
	width: 1200px;
}

@keyframes cambioRGB {
	0% {
		border-color: #99ff002f;
	}
	20% {
		border-color: #ff33ff34;
	}
	40% {
		border-color: #0066ff49;
	}
	80% {
		border-color: #ff330042;
	}
	100% {
		border-color: #ffff002f;
	}
}
@keyframes cambioRGBStars {
	0% {
		text-shadow: 2px 2px 12px rgb(15 151 255);
	}
	20% {
		text-shadow: 2px 2px 12px #ec0eece8;
	}
	40% {
		text-shadow: 2px 2px 12px #0066ffeb;
	}
	80% {
		text-shadow: 2px 2px 12px rgba(237, 241, 6, 0.995);
	}
	100% {
		text-shadow: 2px 2px 12px rgb(34, 222, 13);
	}
}
@keyframes cambioRGBFondo {
	0% {
		box-shadow: 2px 2px 6px rgb(227, 255, 15);
	}
	20% {
		box-shadow: 2px 2px 6px #2a720ee8;
	}
	40% {
		box-shadow: 2px 2px 6px #b39810eb;
	}
	80% {
		box-shadow: 2px 2px 6px rgba(238, 230, 9, 0.459);
	}
	100% {
		box-shadow: 2px 2px 6px rgb(34, 222, 13);
	}
}

@media (max-width: 1250px) {
	.container_description {
		display: none;
	}
	.flex_container_imageRecommended {
		max-width: 800px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	.carousel_recommended .imageCaoruselRecommendMain {
		width: 100%;
		height: 300px;
	}
	.container_image_main {
		width: 100%;
	}
	.container_mobile_description {
		display: block;
		position: relative;
		padding: 4px;
	}
	.addCarsCarousel {
		margin-top: 0;
	}
	/* carrousel main category */
	.containerDescriptionCategory {
		display: none;
	}
	.imageCarouselMainCategory {
		width: 100%;
	}
	.addCartMobileCarouselRecom {
		position: absolute;
		bottom: 0;
		right: 0;
		margin-right: 8px;
	}
	.buttonAddContainerMobileCarousel {
		padding: 4px 6px;
	}
}
@media (max-width: 550px) {
	.carousel_recommended .imageCaoruselRecommendMain {
		width: 100%;
		height: 160px;
	}
	.button {
		height: 50px;
		width: 90px;
	}
	.button i {
		font-size: 12px;
	}
	.button_page_navigation {
		width: 12px;
	}
	.title_game_mobile {
		font-size: 12px;
		margin: 0;
	}
	.addCartMobileCarouselRecom {
		font-size: 12px;
	}
}
