.paginated {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
    margin: 0;
    padding: 1rem;
    
    
}

.paginated li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: transparent;
  background-size: cover;
  width: 60px;
  height: 60px;
  cursor: pointer;
   
}

.num{
    
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
  font-size: 25px;
  font-weight: lighter;
  text-transform: uppercase;
  background: #0d678a;
  color: #daa212;
  border: 1px solid #8E9097;
  border-radius: 4px;
  
}

.enabled  {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
  font-size: 20px;
  font-weight: lighter;
  text-transform: uppercase;
  background: #0d678a;
  color: #daa212;
  border: 1px solid #8E9097;
  border-radius: 4px;
  
}

.disabled  {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
  font-size: 20px;
  font-weight: lighter;
  text-transform: uppercase;
  background: #747474a4;
  color: #4b0707;
  border: 1px solid #4a030e;
  border-radius: 4px;
  
}