
.featured{
  flex:1;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
  box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
  padding: 5px;
  height: 50%;
  .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: gray

    
  }
  .title{
    font-size: 20px;
    font-weight: 300;
  }

  .bottom{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

    .featuredchart{
      width: 250px;
      height: 250px;
    }

    .title{
      font-weight:500;
      color: gray;
    }

    .amount{
      font-size: 30px;
    }
  }
}