.groupa {
    position: relative;
   }
   
   .inputa {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 200px;
    border: none;
    border-bottom: 1px solid #b1133d;
    background:  #212121;
    color: #e1c443;
   }
   
   .input:focus {
    outline: none;
   }

   .bara {
    position: relative;
    display: block;
    width: 205px;
   }
   
   .bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #FFD700;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
   }
   
   .bar:before {
    left: 50%;
   }
   
   .bar:after {
    right: 50%;
   }
   
   .input:focus ~ .bar:before, .input:focus ~ .bar:after {
    width: 50%;
   }
   
   .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
   }
   
   .input:focus ~ .highlight {
    animation: inputHighlighter 0.3s ease;
   }
   
   @keyframes inputHighlighter {
    from {
     background: #FFD700;
    }
   
    to {
     width: 0;
     background: transparent;
    }
   }

   .carta{
        width: 250px;
        height: 100px;
        padding: .8em;
        display: inline;
        color: white;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
       
  }

  .searchBtn
  {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-image: url("https://docs.godotengine.org/es/stable/_images/paranim3.gif%22");
  background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 10px rgb(255, 255, 255);
  position: absolute;
  left: 200px;
  top: 0%;
  border-top: 3px solid rgb(252, 252, 252);
   border-bottom:3px solid rgb(249, 249, 249) ;
   border-left: 2px solid rgb(255, 255, 255);
   border-right: 2px solid rgb(255, 253, 253);

  }

  .flex-container {
    display: flex;
   
  }
  
  .flex-container > div {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }
   