.videoGamesImagesControlCarousel {
  width: 200px;
  height: 200px;
}
.button_page_navigation {
  width: 10px;
  height: 10px;
}
.activity_page {
  background: red;
}
.columnas {
  position: relative;

  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 25px;
}
.videoGamesImagesControlCarousel {
  padding: 15px 15px 15px 10px;
  border-radius: 20px;
  position: relative;
  min-height: 100px;
  box-shadow: 1px 1px 10px rgb(20, 147, 243);
  gap: 25px;
  background-color: rgba(32, 47, 255, 0.055);
}
.button {
  color: aliceblue;
  cursor: pointer;
  text-decoration: none;
  border-radius: 400%;
  font-weight: 1000;
  background: transparent;
  box-shadow: 1px 1px 1px rgb(235, 231, 231);
}
