.columnas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 35px;
}
.containerImageCategory {
  width: 240px;
  height: 210px;
  margin: auto;
}
.videoGamesImagesControlCarousel {
  width: 100%;
  box-shadow: 5px 1px 5px 4px rgb(0, 0, 0);
}
.videoGamesImagesControlCarousel:hover {
  transition: 0.3s;
  transform: scale(1.05);
  box-shadow: 1px 1px 10px rgb(15, 151, 255);
}
.button {
  color: rgb(255, 255, 255);
  cursor: pointer;
  text-decoration: none;
  border-radius: 20%;
  height: 80px;
  width: 40px;
  font-weight: 1000;
  box-shadow: 3px 1px 5px 1px rgb(0, 0, 0);
  background-image: linear-gradient(to left, #000000e0, #40629c);
}
.button:hover {
  transition: 0.3s;
  transform: scale(1.19);
  box-shadow: 1px 1px 10px rgb(15, 151, 255);
  
}
.tipo {
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 5px rgb(0, 0, 0);
  text-align: center;
  padding: 2px 10px 4px 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 20px;
  box-shadow: 4px 1px 5px rgb(0, 0, 0);
  background-image: linear-gradient(to bottom, #544ec09c, #00000074);
  width: 232px;
  margin: 0 auto 0 auto;
  /* margin: 0 auto 15px auto; */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.tipo:hover {
  transition: 0.3s;
  box-shadow: 1px 1px 10px rgb(15, 151, 255);
}
.active {
  user-select: none;
  cursor: pointer;
  backdrop-filter: blur(4px);
  cursor: pointer;
  text-decoration: none;
  box-shadow: 1px 1px 10px rgb(15, 151, 255);
}
.container_carousel {
  display: flex;
  flex-direction: column;
}
.inactivo {
  margin: 12px auto;
}
.inactivo button {
  margin: 8px 8px;
}
.columnasMobile {
  display: none;
}

@media (max-width: 1250px) {
  .columnas {
    overflow-x: scroll;
    display: flex;
    flex-wrap: nowrap;
    grid-gap: 5px;
    justify-content: flex-start;
    height: 260px;
  }
  .columnasDestokp {
    display: none;
  }
}
