.card {
    width: 250px;
    height: 50px;
    padding: .8em;
    display: inline;
    color: white;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   
   }
   
   .cardImg {
    background-color: #ffcaa6;
    height: 50px;;
    width: 70px;
    border-radius: .5rem;
    transition: .3s ease;

   }
   
   .cardInfo {
    padding-top: 10%;
    width: 5px;
    font-size:10px;
    height: 50px;
   }
   
   /*Text*/
   .textTitle {
   
    font-size:10px;
    height: 50px;
    width: 50px;
   }
   
   .textBody {
    font-size: .9em;
    padding-bottom: 10px;
   }
   
.ratybuton{
    display: flex;
    gap: 20px;

}

.cardButton{
    background-color:#FBCA1F;
    color: black;
    border-radius: 10px;
    width: 50px;
    
}