.sectionDetailGame {
  display: flex;
  margin: auto;
  justify-content: center;
}
.containerImageMainGame {
  max-width: 800px;
  padding: 8px;
}
.containerComment {
  margin-top: 16px;
  width: 300px;
  box-shadow: 0 0 7px 0px #000;
  height: 500px;
  margin-left: 64px;
  padding-top: 8px;
  overflow-y: scroll;
}
.containerImageMainGame h1 {
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
  padding-left: 0px;
  color: white;
  font-size: 26px;
  line-height: 32px;
  text-overflow: ellipsis;
}
.imgMainGame {
  width: 100%;
  height: 400px;
  box-shadow: 0 0 7px 0px #000;
}
.container_images_secondary {
  display: flex;
  justify-content: center;
  padding: 0;
  width: 100%;
}
.container_images_secondary li {
  list-style: none;
  margin: 0 4px;
}
.container_images_secondary img {
  width: 100%;
  height: 60px;

  box-shadow: 0 0 7px 0px #000;
}
.text_warning {
  border: 1px solid rgba(217, 209, 209, 0.103);
  padding: 16px;
  font-size: 14px;
  color: white;
  margin: 0;
  background: #1f2b3a;
}
.containerComment input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-radius: 8px;
  padding: 8px;
  color: white;
  margin: 0 auto 0;
  background-color: #03091e;
  min-height: 36px;
  font-size: 0.875rem;
  line-height: 1.5;
}
.containerComment input:focus,
.containerComment input:active {
  outline: none;
  border: none;
}
.comment_user {
  margin-top: 32px;
  width: calc(98% - 16px);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 0 10px #24385b;
  box-shadow: 0 0 0 10px #24385b;
  border: 1px solid #637b9d;
  border-radius: 8px;
  padding: 8px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 8px auto 0;
  color: #637b9d;
  background-color: #03091e;
  min-height: 62px;
  font-size: 0.875rem;
  line-height: 1.5;

  box-shadow: 0 0 7px 0px #000;
}
.comment_user i,
.container_comments_users i {
  margin: auto 0;
  cursor: pointer;
}
.container_comments_users {
  border: 1px solid white;
  width: calc(98% - 16px);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 0 10px #24385b;
  box-shadow: 0 0 0 10px #24385b;
  border: 1px solid #637b9d;
  border-radius: 8px;
  padding: 8px;
  margin: 8px auto 0;
  color: #637b9d;
  background-color: #485170;
  min-height: 62px;
  font-size: 0.875rem;
  line-height: 1.5;
}
.container_comments_users p {
  margin: 0;
  color: white;
  padding: 4px 0;
}
@media (max-width: 1250px) {
  .sectionDetailGame {
    display: block;
  }
  .containerImageMainGame {
    margin: auto;
  }
  .containerComment {
    width: 80%;
    margin: auto;
  }
  .text_warning {
    max-width: 800px;
    margin: 0 auto 24px auto;
  }
  body {
    margin: 16px;
  }
}
