.navbaradmin{
  height: 50px;
 border-bottom: 1px solid #073988;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: rgb(255, 255, 255);
  width: 100%;
  background-image: url("https://cdn.wallpapersafari.com/72/69/CU4a72.jpg");
  box-shadow: 1px 1px 5px  rgb(13, 50, 151);
  background-size: 1980px 210px;
  
  .wrapper{
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .searchadmin{
       display: flex;
       align-items: center;
      padding: 5px;
      border-radius: 20px;
      background: scroll;
      border-top: 1px solid rgb(252, 252, 252);
      border-bottom:1px solid rgb(249, 249, 249) ;
      border-left: 2px solid rgb(255, 255, 255);
      border-right: 2px solid rgb(255, 253, 253);
      box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.528);
      height: 30px;
      width: 210px;
      color: rgb(255, 254, 240);
      
      

      input{
        border:none;
        outline: none;
        background-color: transparent;
        color: aliceblue;
        

        &::placeholder{
          color: gray;
          font-size: 15px;
        }
      }
    }
    .items{
      display: flex;

      .item{
        display: flex;
        margin: 0 10px;
        cursor: pointer;
      }
    }
  }
}