.mainGamesAllDashboard {
  background-image: linear-gradient(to bottom, #000000, #000000);
  border: 1px solid rgba(36, 36, 36, 0.702);
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  box-shadow: 0 0 7px 2px rgba(24, 119, 244, 0.428);
}
.tableGames {
  width: 100%;
  font-size: 14px;
}
.tableGames td {
  padding: 4px;
  color: aliceblue;
  background-image: linear-gradient(to bottom, #000000, #171717);
}
.tableGames th {
  padding: 0 8px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(to bottom, #000000, #100e55);
  box-shadow: 0 0 7px 2px rgba(24, 119, 244, 0.428);
}
.columnRatingGame,
.columnPriceGame,
.columnStatusGame {
  text-align: center;
}
.columnStatusGame {
  color: green;
}
.tableGames th {
  padding: 0 8px;
  text-align: center;
}

.tableColumns td {
  padding: 4px;
}
.tableGames img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.columnNameGame {
  width: 300px;
  overflow: hidden;
  padding: 0 8px;
}
.columnNameGame span {
  padding-left: 6px;
}
.columnActionGame div {
  margin: auto;
  display: flex;
  justify-content: center;
}

.columnActionView,
.columnActionDelete {
  text-align: center;
  border: 1px solid rgba(93, 87, 87, 0.498);
  margin-left: 16px;
  cursor: pointer;
  padding: 4px;
  border-radius: 4px;
}
.columnActionView {
  color: rgb(251, 251, 251);
  background-image: linear-gradient(to bottom, #000000, #0b60e9);
  box-shadow: 1px 1px 5px rgb(10, 74, 156);
}
.columnActionDelete {
  color: rgb(255, 255, 255);
  background-image: linear-gradient(to bottom, #000000, #dc0e0e);
  box-shadow: 1px 1px 5px rgb(171, 8, 44);
}
.seeMore {
  display: block;
  margin: 20px;
  margin-left: auto;
  width: 100px;
  color: white;
  cursor: pointer;
}
