*{
    margin: 0%;
    padding: 0%;
    /* box-sizing: border-box; */
    font-family:sans-serif;
    


} 

 .containerpadre{
    box-shadow: 0 0 7px 0px rgb(191, 233, 38);
    /* background-image: linear-gradient(to top, #449025,#000000f9);  */
    background-image: url("https://www.teahub.io/photos/full/89-896254_windows-10-green-black.jpg");
    background-size:cover ;
    margin-top: 20px;
    padding: 5px;
    box-shadow: 5px 1px 5px 4px  rgb(0, 0, 0); 
    color: aliceblue;

} 
.containerbody{

    display:flex;
    justify-content:space-around; 
} 
.colum1{
    max-width:  400px;
    


}
.colum1 h1{
    display: flex;
    font-size: 22px;
    background-color: rgba(104, 103, 103, 0.144); 
    justify-content:center;
    box-shadow: 1px 1px 5px  rgba(0, 0, 0, 0.383);
    text-shadow: 1px 1px 3px rgb(3, 3, 3);
    border-radius: 20px;
    text-transform: uppercase;
     letter-spacing: 3px;
    text-transform: capitalize;
}
.colum1 p {

    font-size: 14px;
    color: #ffffff;
    margin-top: 30px;

}
.colum2{
    max-width: 400px;

}
.colum2 h1{
    display: flex;
    font-size: 22px;
    width: 200px;
     background-color: rgba(103, 104, 103, 0.144);  
    justify-content:center;
     box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.649);  
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.857); 
    border-radius: 20px;
    text-transform: uppercase;
  letter-spacing: 3px;
  text-transform: capitalize;
}
.colum2 p {
    display: flex;
    margin-top: 20px;
    align-items: center;

}
.row2 {
    margin-top: 20px;
    display: flex;
    

 }
.row2 img{
    width: 33px;
    height: 33px;
    margin-top: -2%;
 }
 .row2 label{
    margin-left:25px;
    max-width: 200px;

}
.colum3{
    max-width: 400px;

}
.colum3 h1{
    display: flex;
    font-size: 22px;
    background-color: rgba(104, 103, 103, 0.144); 
    justify-content:center;
    box-shadow: 1px 1px 5px  rgba(0, 0, 0, 0.383);
    text-shadow: 1px 1px 3px rgb(3, 3, 3);
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-transform: capitalize;

}
.colum3 p {
    margin-top: 20px;

}
.row{
    margin-top: 20px;
    display: flex;
    justify-items:baseline;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    display: grid;
    justify-content:space-around;

}
.row img{
   width: 36px;
   height: 36px;
}
.row label{
    margin-top:10px;
    margin-left:10px
}
.containerfooter{
    width: 110%;
    display: flex;
    justify-content: center; 
    padding: 10px;
    background-image: url("https://www.teahub.io/photos/full/89-896254_windows-10-green-black.jpg"); 
    background-size: cover;
    height: 6%;
    margin-top: 14%;
    box-shadow: 1px 1px 5px  rgb(0, 0, 0);

}

.copyright{
  display: flex;
  align-items: center;
  width:400px;
}
.information  {
    display: flex;
    justify-content:flex-end;
    width:300px;
    align-items: center;
}
.price{
    display:flex;
    color: rgb(68, 217, 31);
    margin-top: 3%;
}
