.font {
  /* background-image: url(https://store.cloudflare.steamstatic.com/public/images/v6/colored_body_top.png?v=2%22); */
  background-image: url(https://store.cloudflare.steamstatic.com/public/shared/images/joinsteam/new_login_bg_strong_mask.jpg);
  background-size: cover;
  background-attachment: fixed;
  /* background-color: #1D1D1D; */
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  font-size: 16px;
}
.prueba {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 5% 5%;
}

.form {
  display: flex;
  flex-direction: column;
  text-shadow: 1px 1px 5px rgb(0, 0, 0);
  background-image: linear-gradient(to bottom, #000000, #09090952);
  box-shadow: 1px 1px 5px 3px rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  margin: 0 auto;
  width: 50%;
  padding: 2vh;
  border-radius: 10px;
  font-size: 1em;
  text-align: center;
  padding-bottom: 25px;
  align-items: center;
}

.inputs {
  background-image: linear-gradient(to bottom, #000000, #090909ce);
  color: rgb(255, 255, 255);
  border: solid 1px #ccc;
  padding: 10px;
  width: 70%;

  color: rgb(231, 225, 225);
}
.inputss {
  border: solid 1px #ccc;
  padding: 20px;
  width: 70%;
  background-image: linear-gradient(to bottom, #000000, #090909ce);
  color: rgb(231, 225, 225);
}

.parrafo {
  padding-top: 15px;
}
.inputs:focus {
  border: solid 1px rgb(255, 255, 255);
}
.inputscountry {
  background-image: linear-gradient(to bottom, #000000, #090909ce);
  color: rgb(255, 255, 255);
  border: solid 1px #ccc;
  padding: 10px;
  width: 100%;
  color: rgb(231, 225, 225);
}

.react-mapbox-ac-input {
  display: flex;
  background-image: linear-gradient(to bottom, #000000, #090909ce);
  color: rgb(255, 255, 255);
  border: solid 1px #ccc;
  padding: 10px;
  width: 285%;
  margin-left: -92%;
  color: rgb(231, 225, 225);
}

.react-mapbox-ac-suggestion {
  font-size: 18px;
  margin-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-image: linear-gradient(to bottom, #000000e9, #000000ed);
  text-shadow: 1px 1px 3px rgb(0, 0, 0);
  width: 100%;
  color: #ffffff;
  box-shadow: 1px 1px 10px 3px rgb(0, 0, 0);
}

.react-mapbox-ac-suggestion:hover {
  background-color: rgba(228, 16, 16, 0.634);
}
.alert {
  color: #bb0401;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.btn4:disabled {
  position: relative;
  background: linear-gradient(90deg, #070707 0%, #677081 100%);
  border-radius: 2px;
  border: none;
  outline: none;
  padding: 12px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  font-family: inherit;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: #f4f4f4;
  box-shadow: 1px 1px 5px 3px rgb(0, 0, 0);
  text-shadow: 1px 1px 5px rgb(255, 255, 255);
}

.btn4 {
  position: relative;
  background: linear-gradient(90deg, #06bfff 0%, #2d73ff 100%);
  border-radius: 2px;
  border: none;
  outline: none;
  padding: 12px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  font-family: inherit;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.captcha {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  transform: scale(0.8);
  padding-top: 40px;
}
.containerMapBoxCountries {
  width: 100%;
}
.react-mapbox-ac-input {
  width: 70%;
  justify-content: center;
  margin: auto;
}

@media screen and (max-width: 1200px) {
  .form {
    width: 100%;
    border: solid 1px #ccc;
  }
  .containerMapBoxCountries {
    width: 100%;
  }
  .react-mapbox-ac-input {
    width: 70%;
    justify-content: center;
    margin: auto;
  }
  
  .react-mapbox-ac-suggestion {
    width: 110%;
    margin-left: -5%;
    border: solid 1px #ccc;
  }

  .captcha {
    transform: scale(0.6);
  }
}
