.buttonAddCarts {
  padding: 4px 4px 6px 4px;
  background: rgb(51, 146, 51);
  font-size: 12px;
  color: white;
  cursor: pointer;
}
.coloredSuccede{
  background-color: #a5dc86 !important;
}
.titles {
  color: white !important;
}

.coloredWarning{
  background-color: #dca676 !important;
}


